
form(method="post", action="/api/create", accept-charset="utf-8", enctype="form-data/multipart")

  input(type="file", name="image")
  input(type="hidden", name="foo", value="bar")

  input(type="submit", value="send")


