

.tool_settings
  .color
    button(data-color="red") Red
    button(data-color="green") Green
    button(data-color="blue") Blue

  .size
    input(type="text", value="5", size="2")
    span px


.whiteboard
  canvas.sketch(width="600", height="400") Your browser does not support canvas
  canvas.main(width="600", height="400") Your browser does not support canvas




