!!! 5
html
  head
    !{renderStyleTags()}
  body
    .navigation
      a.home-link(href="/") home
      a.reload-page(href="#") reload
      a(href="https://whiteboard.opinsys.fi/") stable

    #container !{body}
