!!! 5
html
  head
    !{renderStyleTags("main")}
  body
    .navigation
      a.home-link(href="/") home
      a.reload-page(href="#", title="PhoneGap does not have a reload button") reload

    #container !{body}
