

script(type="x-handlebars-template").
  <b>hello</b>
  <p>asfasdf</p>

script.status-template(type="x-handlebars-template").
  .attr
    span.name Status:
    span.value  {{status}}
  .attr
    span.name Cached:
    span.value  {{cachedDraws}} draws
  .attr
    span.name Start:
    span.value  {{startDraws}} draws
  .attr
    span.name You:
    span.value  {{userDraws}} draws
  .attr
    span.name Remote:
    span.value  {{remoteDraws}} draws
  .attr
    span.name Total:
    span.value  {{totalDraws}} draws
  .attr
    span.name Transport:
    span.value  {{transport}}


script.image-template(type="x-handlebars-template")

  .imageWrapper
    | {{#if published }}
    h3 Published drawing
    img.publishedImg(src="{{publishedImageURL}}", alt="")
    | {{/if}}
    h3 Current drawing
    .buttonWrapper
      img.currentImg(src="{{currentImageDataURL}}", alt="")
    button.publish Publish

  .linkBox
    | {{#if published }}
    span Link for this image:
    input(type="text", value="{{publishedImageURL}}")
    | {{/if}}



h1

.status Status template goes here


.lightbox
  .wrapper
    .close
      a(href="#") X
    .content hello sdaf sadfkj asdlasdfk asdfsd


.toolSettings

  .colorSelector.group
    button.toggle
    .options
      button(data-value="black").selected
      button(data-value="white")
      button(data-value="green")
      button(data-value="blue")
      button(data-value="yellow")
      button(data-value="brown")
      button(data-value="red")
      button(data-value="purple")

  .clear

  .sizeSelector.group
    button.toggle size
    .options
        button(data-value="5")
        button(data-value="15").selected
        button(data-value="30")
        button(data-value="60")
        button(data-value="100")

  .clear

  .toolSelector.group
    button.toggle Tool
    .options
      button.selected(data-value="Pencil") Pen
      button(data-value="Line") Line
      button(data-value="Circle") Circle
      button(data-value="Eraser") Eraser
      button(data-value="Move") Move
      button(data-value="FastMove") FMove

  .clear

  .menu.group
    button.toggle Menu
    .options
      button.remote Remote
      button.publish Publish


  .clear

  .navigation.group
    button.next &gt;
    .clear
    button.prev &lt;


.loading
  p Loading...


.bg-size

.whiteboard
  canvas.loading.localBuffer Your browser does not support canvas
  canvas.loading.remoteBuffer Your browser does not support canvas
  canvas.loading.main Your browser does not support canvas





!{renderScriptTags("paint")}
