

script.status-template(type="x-handlebars-template")
  .attr
    span.name Status:
    span.value  {{status}}
  .attr
    span.name Loaded:
    span.value  {{drawnFromHistory}} / {{inHistory}} operations in {{historyDrawTime}}s
  .attr
    span.name Operations drawn:
    span.value  {{operationCount}}


h1

.status



.tool_settings

  .top

    .color
      button.selected(data-color="green")
      button(data-color="blue")
      button(data-color="yellow")
      button(data-color="brown")
      button(data-color="red")
      button(data-color="purple")
      button(data-color="black")
      button(data-color="white")

  .left

    .tool
      button.selected(data-tool="Pencil") Pencil
      button(data-tool="Eraser") Eraser

    .size
      input.size-value(type="text", value="50", size="2")
      span px
      div
        button.smaller &lt;
        button.bigger &gt;

.loading
  p Loading...

.whiteboard
  canvas.sketch Your browser does not support canvas
  canvas.remoteSketch Your browser does not support canvas
  canvas.main Your browser does not support canvas




!{renderScriptTags("paint")}
