

script.status-template(type="x-handlebars-template")
  .attr
    span.name Status:
    span.value  {{status}}
  .attr
    span.name Cached:
    span.value  {{cachedDraws}} draws
  .attr
    span.name Start:
    span.value  {{startDraws}} draws
  .attr
    span.name You:
    span.value  {{userDraws}} draws
  .attr
    span.name Remote:
    span.value  {{remoteDraws}} draws
  .attr
    span.name Total:
    span.value  {{totalDraws}} draws


h1

.status

.toolSettings

  .colorSelector.group
    button.toggle
    .options
      button(data-value="black").selected
      button(data-value="white")
      button(data-value="green")
      button(data-value="blue")
      button(data-value="yellow")
      button(data-value="brown")
      button(data-value="red")
      button(data-value="purple")

  .clear

  .sizeSelector.group
    button.toggle size
    .options
        button(data-value="5")
        button(data-value="15")
        button(data-value="30").selected
        button(data-value="60")
        button(data-value="100")

  .clear

  .toolSelector.group
    button.toggle Tool
    .options
      button.selected(data-value="Pencil") Pen
      button(data-value="Line") Line
      button(data-value="Circle") Circle
      button(data-value="Eraser") Eraser
      button(data-value="Move") Move
      button(data-value="FastMove") FMove


.loading
  p Loading...

.bg-size

.whiteboard
  canvas.loading.localBuffer Your browser does not support canvas
  canvas.loading.remoteBuffer Your browser does not support canvas
  canvas.loading.main Your browser does not support canvas





!{renderScriptTags("paint")}
