


script.welcomeTemplate(type="x-handlebars-template")
  .welcome.en
    h1 Welcome to Collaborative Whiteboard
    :markdown
      Hello there! This is web based drawing board with a twist.
      You can work on this drawing collaborately with anyone you want.
      Just send link to this page and they can join in! Also note that
      this also works with touchscreen devices.

      If you run on any issues or you have a good idea for new feature
      *feel* free to contact us.

        * [dev@opinsys.fi](mailto:dev@opinsys.fi)
        * [Announcement blog post](http://www.opinsys.fi/en/walma-collaborative-whiteboard)
        * [Github](https://github.com/opinsys/walma) ([known issues](https://github.com/opinsys/walma/issues))
        * [Twitter](https://twitter.com/opinsys)

    .notSupported
      h2 Warning
      :markdown
        Your browser does not support all the features Walma requires. You
        should upgrade to latest version of [Firefox](http://www.mozilla.org/)
        or [Chrome](https://www.google.com/chrome) to get proper Walma
        experience.

    button.close Thanks!

script.status-template(type="x-handlebars-template")
  .attr
    span.name Status:
    span.value  {{status}}
  .attr
    span.name Position:
    span.value  {{position/x}}x{{position/y}}
  .attr
    span.name area size:
    span.value  {{areaSize/width}}x{{areaSize/height}}
  .attr
    span.name drawing size:
    span.value  {{drawingSize/width}}x{{drawingSize/height}}
  .attr
    span.name Cached:
    span.value  {{cachedDraws}} draws
  .attr
    span.name Start:
    span.value  {{startDraws}} draws
  .attr
    span.name You:
    span.value  {{userDraws}} draws
  .attr
    span.name Remote:
    span.value  {{remoteDraws}} draws
  .attr
    span.name Total:
    span.value  {{totalDraws}} draws
  .attr
    span.name Transport:
    span.value  {{transport}}
  .attr
    span.name Lag:
    span.value  {{lag}}ms
  .attr
    span.name Socket status:
    span.value  {{socketStatus}}


script.roomInfoTemplate(type="x-handlebars-template")
  .group.info

    | {{#if persistent}}

    p This drawing is persistent. All drawings are saved automatically.
    p
      button.delete Delete now

    | {{else}}

    p.warning This drawing is not persistent. It will be deleted automatically when it has been inactive for one hour.
    p
      button.persist Persist
      button.delete Delete now

    | {{/if}}



script.image-template(type="x-handlebars-template")

  .imageWrapper
    | {{#if published }}
    h3 Published drawing
    img.publishedImg(src="{{publishedImageURL}}", alt="")
    | {{/if}}
    h3 Current drawing
    .buttonWrapper
      img.currentImg(src="{{currentImageDataURL}}", alt="")
    button.publish Publish

  .linkBox
    | {{#if published }}
    span Link for this image:
    input(type="text", value="{{publishedImageURL}}")
    | {{/if}}


script.menuButtonTemplate(type="x-handlebars-template")
  .buttonBorder
    button(title="{{description}}", data-value="{{value}}") {{label}}


script.toolOptionsTemplate(type="x-handlebars-template")
  .group.option
    h2 {{label}}
    .description {{description}}
    .buttons
    .clear

script.publishButton(type="x-handlebars-template")
  .group.option
    h2 Publish
    .description Publish drawing
    .buttons
    .clear

script.toolTitle(type="x-handlebars-template")
  .group.title
    h2 {{label}}
    .description {{description}}
    .clear


script.backgroundSelectTemplate(type="x-handlebars-template")
  .backgroundSelect
    .group
    h2 Background

    .group.select
      p Select background
      input.backgroundInput(type="file", value="Select")
    // Use camera directly:
    // input.backgroundInput(type="file", value="Select", accept="image/*;capture=camera")

    .group.delete
      p Remove background from the drawing
      button.backgroundDelete Delete

    .group.resize
      p Background seems to be very big. Tap to make it smaller
      button.backgroundResize Resize

h1

.status Status template goes here

.unsavedWarning
  h1 Warning: This drawing is not persistent!


.lightbox
  .wrapper
    .close
      a(href="#") X
    .content


.menuContainer
  .wrapper
    .tabs
      .tools
        .sideButtonBorder
          .dragArea

        .buttons

    .contentWrapper
      .close
        a X
      .content




.group.miscMenu
  .clear
  h2 Tools
  p
    button.background Background
    button.publish Publish
  p
    a(href="#debug") debug

  .clear





.loading
  p Loading...





.whiteboard
  canvas.loading.localBuffer Your browser does not support canvas
  canvas.loading.remoteBuffer Your browser does not support canvas
  canvas.loading.main Your browser does not support canvas
  .background





!{renderScriptTags("paint")}
