


script.status-template(type="x-handlebars-template").
  .attr
    span.name Status:
    span.value  {{status}}
  .attr
    span.name Position:
    span.value  {{position/x}}x{{position/y}}
  .attr
    span.name area size:
    span.value  {{areaSize/width}}x{{areaSize/height}}
  .attr
    span.name drawing size:
    span.value  {{drawingSize/width}}x{{drawingSize/height}}
  .attr
    span.name Cached:
    span.value  {{cachedDraws}} draws
  .attr
    span.name Start:
    span.value  {{startDraws}} draws
  .attr
    span.name You:
    span.value  {{userDraws}} draws
  .attr
    span.name Remote:
    span.value  {{remoteDraws}} draws
  .attr
    span.name Total:
    span.value  {{totalDraws}} draws
  .attr
    span.name Transport:
    span.value  {{transport}}
  .attr
    span.name Lag:
    span.value  {{lag}}ms
  .attr
    span.name Socket status:
    span.value  {{socketStatus}}


script.image-template(type="x-handlebars-template")

  .imageWrapper
    | {{#if published }}
    h3 Published drawing
    img.publishedImg(src="{{publishedImageURL}}", alt="")
    | {{/if}}
    h3 Current drawing
    .buttonWrapper
      img.currentImg(src="{{currentImageDataURL}}", alt="")
    button.publish Publish

  .linkBox
    | {{#if published }}
    span Link for this image:
    input(type="text", value="{{publishedImageURL}}")
    | {{/if}}


script.menuButtonTemplate(type="x-handlebars-template")
  .buttonBorder
    button(title="{{description}}", data-value="{{value}}") {{label}}


script.toolOptionsTemplate(type="x-handlebars-template")
  .group.option
    h2 {{label}}
    .description {{description}}
    .buttons
    .clear

script.publishButton(type="x-handlebars-template")
  .group.option
    h2 Publish
    .description Publish drawing
    .buttons
    .clear

script.toolTitle(type="x-handlebars-template")
  .group.title
    h2 {{label}}
    .description {{description}}
    .clear

script.backgroundSelectTemplate(type="x-handlebars-template")
  .group.backgroundSelect
  h2 Background

  .select
    p Select background
    input.backgroundInput(type="file", value="Select")

  .delete
    p Remove background from the drawing
    button.backgroundDelete Delete

  .resize
    p Background seems to be very big. Click resize to make it smaller
    button.backgroundResize Resize

h1

.status Status template goes here


.lightbox
  .wrapper
    .close
      a(href="#") X
    .content hello sdaf sadfkj asdlasdfk asdfsd


.menuContainer

  .wrapper

    .tabs

      .tools
        .sideButtonBorder
          .dragArea

        .buttons
          .buttonBorder
            button Menu
          .buttonBorder
            button Pen
          .buttonBorder.selected
            button Line
          .buttonBorder
            button Eraser
          .buttonBorder
            button Move


    .content
      .size.group

        .description Size

        .buttonBorder
          button(data-value="5")
        .buttonBorder.selected
          button(data-value="15")
        .buttonBorder
          button(data-value="30")
        .buttonBorder
          button(data-value="60")
        .buttonBorder
          button(data-value="100")

      .color.group

        .description Color

        .buttonBorder.selected
          button(data-value="black")
        .buttonBorder
          button(data-value="white")
        .buttonBorder
          button(data-value="green")
        .buttonBorder
          button(data-value="blue")
        .buttonBorder
          button(data-value="yellow")


      .group
        .description lol





.group.navigation
  h2 Navigation
  .description Navigate subrooms
  .buttonBorder
    button.prev &lt;
  .buttonBorder
    button.next &gt;
  .buttonBorder
    button.remote Remote
  .clear

.group.publish
  h2 Publish
  .description Publish drawing
  .buttonBorder
    button.publish Publish
    button.background Background
  .clear





.loading
  p Loading...





.whiteboard
  canvas.loading.localBuffer Your browser does not support canvas
  canvas.loading.remoteBuffer Your browser does not support canvas
  canvas.loading.main Your browser does not support canvas
  .background





!{renderScriptTags("paint")}
