

.content
  width 500px
  text-align center
  margin 0px auto

  margin-top 5em


  h1
    margin-bottom 1em
    font-size 30pt

  h2
    font-size 20pt
    margin 1em


  input
    width 100%
    height 4em
    font-size 20pt

