html
  overflow auto


.content
  width 500px
  text-align center
  margin 0px auto 20px auto

  margin-top 5em


  h1
    margin-bottom 1em
    font-size 30pt

  h2
    font-size 20pt
    margin 1em


  input
    width 100%
    height 4em
    font-size 20pt

.startProjector
  width 250px
  text-align center
  margin 0px 0px auto auto

  margin-top 5em

  h2
    font-size 15pt
    margin 1em

  input
    height 2em
    font-size 15pt

.cameraId
  font-weight bold

.projectorInfo
  display none
  z-index 100
  position absolute
  width 800px
  border 2px solid gray
  left 50%
  margin-left -400px
  background white
  padding 10px
  text-align left

  ul
    margin-left 2em
    margin-bottom 1em
  li
    list-style disc
    margin-bottom 0.3em
    font-size 13pt

  .close
    color blue
    float right

  p
    padding-bottom: 15px

  h2
    font-size 15pt
    margin 1em
    text-align center

  input
    width auto
    height 2em
    font-size 15pt

  a
    color blue

.footer
  width 500px
  bottom 1em
  text-align center
  a
    color black
  text-align left

.pageOverlay
  z-index 90
  position fixed
  left 0px
  top 0px
  width 100%
  height 100%
  opacity .8
  background-color white
