
body
  background-color white

canvas
  border 5px solid black
  position: absolute
  top 100px
  left 100px
  cursor crosshair
  // opacity 0.5

canvas.whiteboard
  z-index 0

canvas.sketch
  z-index 1


size = 60px

.tool_settings
  .size, button
    width size
    height size
    margin-bottom 10px

  button
    display block
