
buttonSize = 4.5em

body
  font-family arial




a
  color white


a.touching
  background-color #DDD


#container
  margin 4em
h1
  font-size 18pt

ul li
  margin-bottom 1em
  font-size 16pt
  a
    text-transform uppercase


div.loading
  opacity 0.8
  position fixed
  z-index 100
  width 100%
  top 8em
  margin-left 10em
  text-align center
  p
    width 5em
    border 10px solid black
    border-radius 5px
    font-size 80pt
    background-color white


canvas
  display block


.whiteboard
  position absolute
  overflow hidden
  color transparent
  top 0px
  left 0px
  background-color #DDD

  canvas
    position absolute
    background-repeat no-repeat

    border-style dotted
    border-color black
    border-bottom-width 1px
    border-right-width 1px

  canvas.localBuffer
    z-index 12
  canvas.remoteBuffer
    z-index 11
  canvas.main
    z-index 10
    background-color white

  .bg-size
    z-index 9



.status
  position fixed
  font-size 8pt
  color black
  bottom 10px
  left 10px
  font-family monospace
  z-index 11
  .name
    font-weight bold
    margin-right 4px

  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -o-user-select: none
  user-select: none



canvas.loading
  top -200%

.lightbox
  display none
  position fixed
  width 100%
  left 0px
  right 0px
  z-index 500
  .wrapper
    border 1px solid #DDD
    padding 2em
    margin-left auto
    margin-right auto
    width 50%
    background-color white
    border-radius 10px
    box-shadow 0px 5px 20px 4px black
    display block

  .content
    position relative
    top -1em
    h1
      margin-bottom 0.5em

  .close
    text-align right
    a
      color black
      font-size 2em
      text-decoration none

  .imageWrapper, .linkBox
      margin 1em

  .linkBox input
      margin-left 1em
      width 240pt

  .imageWrapper
    img
      width 300px
      border 3px solid black
      border-radius 2px

.backgroundSelect
  h2
    font-size 2em

  .group
    margin 1em
    p
      font-size 12pt
      margin 0.6em
    button,input
      margin 0.6em
      margin-left 1em


.clear
  clear both

.navigation
  display none

.bg-size
  top 0
  left 0
  position absolute
  width 300px
  height 200px


button
  margin 0.5em
  cursor pointer
  padding 1em


  background-color white
  border 0px solid black
  border-bottom-color selectionColor

  box-shadow 0px 0px 10px black
  border-radius 15px
  border 1px solid #DDD

.menuContainer
  display none
  selectionColor = #DDD
  left 10px
  top 10px
  position absolute
  z-index 60



  button
    width buttonSize
    height buttonSize


  .buttonBorder, .dragArea
    float left
    border-radius 20px

  .sideButtonBorder
    position relative
    float left

    margin-right 1em

    .dragArea.touching
      box-shadow 0px 0px 40px black
    .dragArea
      position relative
      top 0.5em
      cursor move
      width buttonSize * 0.8
      height buttonSize * 0.8
      box-shadow 0px 0px 10px black

      // http://www.colorzilla.com/gradient-editor/
      background: #ffffff; /* Old browsers */
      background: -moz-linear-gradient(left, #ffffff 0%, #f1f1f1 33%, #e1e1e1 66%, #f6f6f6 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(33%,#f1f1f1), color-stop(66%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left, #ffffff 0%,#f1f1f1 33%,#e1e1e1 66%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left, #ffffff 0%,#f1f1f1 33%,#e1e1e1 66%,#f6f6f6 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(left, #ffffff 0%,#f1f1f1 33%,#e1e1e1 66%,#f6f6f6 100%); /* IE10+ */
      background: linear-gradient(left, #ffffff 0%,#f1f1f1 33%,#e1e1e1 66%,#f6f6f6 100%); /* W3C */






  .openDown .tabs .buttonBorder
    border-bottom-left-radius 0px
    border-bottom-right-radius 0px

  .openUp .tabs .buttonBorder
    border-top-left-radius 0px
    border-top-right-radius 0px

  .selected
    background-color selectionColor


  .content
    display none
    background-color white
    padding 1em
    margin-bottom 2em

    p
      margin 1em
      font-size 10pt

    hr
      visibility hidden

    .group
      clear both
      padding-left 1em
      padding-right 0.7em
      padding-top 0.3em
      margin-top 0.7em

      .description
        margin 1em
        font-size 10pt

  .openDown .content, .openUp .content
    display block
    clear both
    border 8px solid selectionColor
    border-radius 5px


.miscMenu
  display none
  h1
    margin-bottom 1em
  button
    width auto

