
buttonSize = 4.5em

body
  font-family arial


.status, toolSettings
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;


a
  color white

h1
  position absolute
  width buttonSize
  top 0.5em
  left 0.5em


a.touching
  background-color #DDD


#container
  margin 4em
h1
  font-size 18pt

ul li
  margin-bottom 1em
  font-size 16pt
  a
    text-transform uppercase


div.loading
  opacity 0.8
  position fixed
  z-index 100
  width 100%
  top 8em
  margin-left 10em
  text-align center
  p
    width 5em
    border 10px solid black
    border-radius 5px
    font-size 80pt
    background-color white


canvas
  cursor crosshair
  display block

.whiteboard
  position absolute
  overflow hidden
  color transparent
  top 0px
  left 0px

  canvas
    position absolute
  canvas.localBuffer
    z-index 12
  canvas.remoteBuffer
    z-index 11
  canvas.main
    z-index 10
  .bg-size
    z-index 9



.status
  position fixed
  font-size 8pt
  color black
  bottom 10px
  left 10px
  font-family monospace
  z-index 50
  .name
    font-weight bold
    margin-right 4px




canvas.loading
  top -200%

.lightbox
  display none
  position fixed
  width 100%
  left 0px
  right 0px
  z-index 500
  .wrapper
    padding 2em
    margin-left auto
    margin-right auto
    width 50%
    background-color white
    border-radius 10px
    box-shadow 0px 5px 20px 4px black
    display block

  .close
    a
      color black
    text-align right

  .imageWrapper, .linkBox
      margin 1em

  .linkBox input
      margin-left 1em
      width 240pt

  .imageWrapper
    img
      width 300px
      border 3px solid black
      border-radius 2px




.toolSettings
  z-index 500
  position fixed

  top 0px
  left 0px

  overflow none
  display block


  z-index 50
  .options
    display none
    height buttonSize
    overflow hidden
  button.selected
    border 3px inset
  button
    margin 0.5em
    width buttonSize
    height buttonSize
    cursor pointer
    border-radius 0.5em
    border 3px outset



  .clear
    clear both
  button.toggle
    display block


  .options,.toggle
    float left


.bg-size
  top 0
  left 0
  position absolute
  width 300px
  height 200px

